@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400&display=swap');
.back {
    background-color: #E9ECEF;
}

.nav-red {
    color: red;
}

.nav-light {
    color: rgb(255, 255, 255) !important;
}

.color-purple {
    color: blueviolet;
    font-size: 65px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 200;
}

.card {
    align-self: normal;
    flex-wrap: wrap;
}

.row {
    display: flex;
}

.color-red {
    color: red;
    font-size: 65px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 200;
}

.text-none {
    text-decoration: none;
}

.font-p {
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.color-yellow {
    color: rgb(212, 145, 1);
}

.ul-style {
    text-align: center;
    list-style-position: inside;
}

.hk-padding {
    padding: 30px;
}

.purple {
    color: blueviolet;
}